* {
	border: 1px solid red;
}
/* Navigation Bar Formatting */
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-link {
	display: block;
	float: left;
	border-bottom: 1px solid #555;
	color: white;	
	text-decoration: none;
	padding-left: 30px;
	margin: 5px 0 5px 0;
}


.nav-link:hover {
	background-color: #555;
	color: white;
  }

  .active {
	background-color: #04AA6D;
	color: white;
  }

  /* Body of Document Formatting */
#welcome-section {
	width: 100vw;
	height: 100vh;
	text-align: center;
}

span > h2 {
	text-align: center;
	width: 100%;
	margin: auto;
	padding-top: 40vh;
}

span > h1, h3 {
	margin: 0;
}

h1 {
	font-size: 50px;
}