* {
	border: 1px solid red;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

/* ===== Navigation Bar Formatting ===== */
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lightcoral;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-link {
	display: block;
	float: left;
	border-bottom: 1px solid #555;
	color: white;	
	text-decoration: none;
	padding-left: 30px;
	margin: 5px 0 5px 0;
}

li:first-of-type {
	padding-right: 30px;
}

li:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: #04AA6D;
	color: white;
}

/* ===== Welcome Section Formatting ===== */
#welcome-section {
	width: 100vw;
	height: 100vh;
	text-align: center;
}

span > h2 {
	text-align: center;
	width: 100%;
	margin: auto;
	padding-top: 40vh;
}

span > h1, h3 {
	margin: 0;
}

h1 {
	font-size: 50px;
}

/* ===== Background Animation ===== */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}